.navigation {
  margin-top: 7px;

  @media screen and (max-width: 550px) {
    margin: 0;
  }
}

ul {
  display: flex;
  padding: 0;

  @media screen and (max-width: 550px) {
    margin: 0;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}

li {
  list-style: none;
}

.navigation-navlink {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  font-size: 24px;
  font-family: 'Markazi Text', serif;
}